<div class="container">
    <div class="card">
        <div class="card-container">
            <!-- <div> -->
                <form (ngSubmit)="createRestream()">
                    <div>
                        <label for="restramTile">Restram Title</label>
                        <input type="text" name="restramTile" [(ngModel)]="data.restreamTitle">
                    </div>
                    <div>
                        <label for="StreamName">Stream Name</label>
                        <input type="text" name="StreamName" [(ngModel)]="data.name">
                    </div>
                    <select id="Datacenter" name="dc" [(ngModel)]="data.Endpoint">
                        <option *ngFor="let serverdata of serverData;let indexOfelement=index" [value]=serverdata.Endpoint>{{serverdata.ServerName}}</option>
                    </select>
                    <!-- <div>
                        <label for="StreamName">Origin Datacenter</label>
                        <input type="text" name="StreamName" [(ngModel)]="data.originServer">
                    </div> -->
                    <div>
                        <label for="RTMPurl">RTMP URL</label>
                        <input type="text" name="RTMPurl" [(ngModel)]="data.url">
                    </div>
                    <div>
                        <label for="streamKey">Stream Key</label>
                        <input type="password" name="streamKey" id="rtmpkey" [(ngModel)]="data.streamKey">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            <!-- </div> -->
        </div>
    </div>
</div>