.container {
    padding: 20px;
  }
  
  #ServerTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
  }
  
  #ServerTable td, #ServerTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #ServerTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #ServerTable tr:hover {background-color: #ddd;}
  
  #ServerTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.actions {
  display: flex;
}

.actions button{
  margin: auto 5px;
}

.moodal-container {
  max-width: 400px;
  position: absolute;
}

/* Modal Header */
.modal-header {
  padding: 3px 16px;
  background-color: #5cb85c;
  color: white;
  border-radius: 10px  10px 0px 0px;
  display: flex;
}

.modal-header h2 {
  margin: auto 2px;
  padding: 10px;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}